{% extends 'blog/base.html' %}

        {% block body_block %}
            <div class="jumbotron">
                <h2>Login</h2>
                <h3>Must be a superuser to login</h3>

                {% if form.errors %}
                    <p>Your username and password didn't match! Please try again.</p>
                {% endif %}

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Login" class="btn btn-success">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        {% endblock %}